@font-face {
  font-family: "DMSans";
  font-display: swap;
  src: url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  font-display: swap;
  src: url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.75rem;
}

.header__link {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #118DA8;
}

.header__title {
  font-size: 4.375rem;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.icons__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.desc {
  font-size: 1.375rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 150%;
}

.underline {
  position: relative;
}

.underline:after {
  content: url("../img/icons/underline.svg");
  position: absolute;
  bottom: -25px;
  right: 0;
  left: 0;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.hamburger.active {
  overflow: visible;
}

.hamburger:before,
.hamburger:after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
}

.hamburger:before {
  top: 0;
}

.hamburger:after {
  bottom: 0;
}

.hamburger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.hamburger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.hamburger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.episodes__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__title {
  font-size: 4rem;
}

.episode__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75rem;
  padding-top: 2.5rem;
}

.episode__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  padding: 2.5rem;
  border-radius: 32px;
}

.episode__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.375rem;
}

.tag {
  background: #191919;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.episode__number {
  line-height: 159%;
  color: #118DA8;
}

.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1.25rem 0.625rem;
  background: #118DA8;
  margin-bottom: 1.25rem;
}

.arrow img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.arrow img:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.host__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
}

.host__body .block__title {
  letter-spacing: 2px;
  padding-bottom: 1.25rem;
}

.section__subtitle {
  line-height: 150%;
  color: #118DA8;
}

.host__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000;
  padding: 3.75rem;
  border-radius: 32px;
}

.contact__text {
  max-width: 24.375rem;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.25rem;
}

.form__label .btn {
  border: none;
}

.form__input {
  min-width: 31.25rem;
  padding: 1.625rem 1.25rem;
  border-radius: 6px;
  background: #191919;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.review {
  padding: 6.25rem 0;
}

.review-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: #000;
  padding: 2.5rem;
  border-radius: 32px;
}

.review__title {
  font-size: 2.25rem;
  padding: 1.25rem 0;
}

.review__name {
  color: rgba(255, 255, 255, 0.7);
  line-height: 120%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.rating__item {
  height: 1rem;
  width: 1rem;
  background: url("../img/icons/star.svg") no-repeat center center;
}

.footer {
  padding: 6.25rem 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  margin-top: 1.25rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__link {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.7);
}

body {
  font-family: "DM Sans", sans-serif;
  background: #191919;
  color: #fff;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.938rem;
}

.bold {
  font-weight: 700;
}

.btn {
  display: inline-block;
  text-align: center;
  background: #118DA8;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.7;
}

.main-img {
  border-radius: 12px;
}

section {
  padding: 6.25rem 0;
}

@media (max-width: 1200px) {
  .main-img {
    max-width: 100%;
  }

  .form__input {
    min-width: 0;
  }
}

@media (max-width: 992px) {
  .episode__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }

  .episode__item-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 0;
  }

  .review-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 49%);
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 6.25rem;
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #191919;
    padding: 1rem;
  }

  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__inner .main-img {
    width: 100%;
  }

  .header__inner picture {
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.938rem;
    background: #191919;
    color: #fff;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    overflow: hidden;
    z-index: 10;
  }

  .header__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    background: #191919;
    color: #fff;
  }

  .header__menu.active .header__item {
    font-size: 1.5rem;
  }

  section {
    padding: 3.125rem 0;
  }

  .episode__item img {
    width: 100%;
  }

  .host__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .host__body .main-img {
    width: 100%;
  }

  .host__body picture {
    width: 100%;
  }

  .host__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .arrow img {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 1.5rem;
  }

  .form__label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .review-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }

  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 3rem;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .rating__item {
    padding: 1rem;
  }

  .review,
  .footer {
    padding: 3.125rem 0;
  }

  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .episodes__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
}